* {
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-x: hidden;
  }
  #cart-items {
    border: 1px solid grey;
    width: 450px;
    float: right;
    box-sizing: border-box;
    background-color: #f3f3f3;
    /* overflow: scroll; */
  
  }
  #scrollBox{
    overflow: scroll;
  }
  #test {
    right: -80%;
    position: absolute;
    margin-top: 0px;
    top: 0;
    z-index: 69;
    /* max-height: 500px; */
    /* overflow-y: hidden; */
  }
  #heading {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding: 5px;
  }
  #heading > span {
    margin-right: 120px;
    display: inline-block;
    margin-left: 10px;
  }
  
  #heading > span > h2 {
    /* text-align: center; */
    color: #464854;
    background-color: white;
    margin-top: -5px;
    border-bottom: 2px;
    width: 100%;
    font-weight: normal;
    display: inline-block;
  }
  .V-firstDiv {
    width: 100%;
    height: 65px;
    /* border: 1px solid grey;  */
    display: flex;
    font-weight: normal;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: #f3f3f3;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  #check {
    width: 25px;
    height: 25px;
  
    margin: 8px 12px 0px 12px;
  }
  label {
    margin-top: 6px;
  }
  .V-SecondDiv {
    width: 100%;
    height: 65px;
    /* border: 1px solid red;  */
    display: flex;
    font-weight: normal;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  #reward {
    font-size: 15px;
    margin: auto 0px;
  }
  #reward ~ p {
    margin-left: 80px;
    margin-top: 12px;
  
    background: none;
    border-radius: none;
    font-size: 16px;
    font-weight: 500;
  }
  #V-cart-products {
    width: 100%;
  
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 96%);
    justify-content: center;
    gap: 10px;
  }
  #V-cart-products > div {
    /* border: 1px solid red;  */
  
    height: 180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #V-cart-products > div > img {
    width: 120px;
    height: 100px;
    display: inline-block;
  }
  #V-cart-products > div > p {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 10px;
  }
  #V-cart-products > div > h3 {
    float: right;
    font-size: 16px;
    margin-right: 13px;
  }
  #V-cart-products > div > div {
    display: inline-block;
    margin-left: 5px;
    outline: none;
  }
  #V-cart-products > div > label {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
  }
  #V-cart-products > div > i {
    /* /* margin-top: 0px;  */
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  #V-total-details {
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #V-total-details > h2 {
    text-align: center;
    font-weight: normal;
    color: #9b9da3;
    background-color: #f5f5f5;
    margin-top: 0px;
    padding: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #V-total-price {
    width: 100%;
    /* height: 200px; */
    background-color: white;
    margin-top: -12px;
  }
  
  .td1 {
    width: 350px;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
  }
  td {
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    width: 80px;
  }
  tbody > tr:nth-child(2) > td {
    color: teal;
  }
  
  tbody > tr:nth-child(5) > td {
    font-size: 15px;
    font-weight: 600;
  }
  #coupon {
    width: 94%;
    margin: 10px;
    height: 40px;
    background-color: #f5f5f5;
    /* border: 1px solid black; */
    margin-bottom: 20px;
    border-radius: 3px;
  }
  
  #tble {
    /* border: 1px solid blue; */
    width: 210px;
    display: inline-block;
    margin-bottom: 0px;
    background-color: white;
  }
  #tble ~ button {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    height: 60px;
    padding: 10px;
    background-color: #003243;
    color: white;
    font-size: 15px;
    border: none;
    margin-bottom: 0px;
  }
  
  .fas fa-angle-left {
    width: 100px;
    height: 100px;
  }
  i {
    color: red;
  }
  .fas fa-shopping-bag {
    width: 300px;
    height: 300px;
  }
  
  #image-icon {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .para {
    text-align: center;
    margin-top: -50px;
  }
  .shopBtn {
    width: 200px;
    height: 40px;
    margin: auto;
    background-color: #16152b;
    color: white;
    border: none;
    margin-top: -120px;
  }
  
  .stop-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }